.moviesSearch {
  position: relative;
}

.movieTitle {
  padding-top: 20px;
}

.btnPaginationThumb {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.btnPagination {
  width: 150px;
  padding: 5px 15px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #e0dbdb;
  color: #3b1b1b;
  transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.btnPagination:not(:disabled):hover,
.btnPagination:not(:disabled):focus {
  background-color: rgb(1, 46, 119);
  color: #d6cbcb;
  box-shadow: 0 1px 1px #28272724, 0 1px 3px #4138381f, 0 2px 1px #0003;
}

.btnPagination:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
