.castList {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.castItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #333be2;
  border-radius: 8px;
  padding: 4px;
}
